:root {
  --charcoal-black:  ‎#36454F;
}

* { 
  margin: 0; 
  padding: 0; 
}

html {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: auto;
  width: 1960px;
  max-width: 100%;
}

a {
  transition: all .3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.subheading {
  color: #ffffff;
  font-family: Poppins;
  filter: drop-shadow(30px 10px 4px #000000);
  font-size: 20px;
}

.section-title {
  font-family: Oswald;
  font-size: 50px;
  text-transform: uppercase;
}

.inner-page-title {
  font-family: Oswald;
  font-size: 30px;
  text-transform: uppercase;
}

.food-title-label {
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.food-title {
  font-family: Lobster;
  font-size: 40px;
  text-transform: capitalize;
  margin: 0;
  padding: 0px 0px 20px 0px;
}

.body {
  color: #131252;
  font-family: Poppins;
  font-size: 17px;
}


.footer-title {
  font-family: Oswald;
  font-size: 20px;
  color: #000000;
}

.footer-body {
  font-family: Poppins;
  font-size: 15px;
  color: #000000;
}

.bold {
  font-weight: bold;
}

.flex-row {
  align-items: center;
  display: flex;
  justify-content: center;
}

#header {
  background: transparent;
  position: absolute;
  width: 100%;
  top: auto;
}

#header .container {
  width: auto;
  flex-grow: 1;
}

#header .container  .row .item {
  text-align: center;
}

#header .container .row .item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

#header .container .row ul {
  list-style-type: none;
}

#header .container .row ul li {
  margin-top: 10px;
  display: inline-block;
  margin: 0 30px;
}

#header .container  .row ul li a {
  color: #ffffff;
  font-family: Oswald;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0; 
  margin: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  position: relative;
  z-index: 2;
}

#header .container .row ul li a:hover {
  color: #EB332C;
  transition: 0.7s; 
}


#header .header-container .icon-container span .fa-facebook {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 150px;
}

#header .header-container .icon-container span .fa-instagram {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 180px;
}

#header .flag-left {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#header .flag-right {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

/* ------------------------------------------ 
 BANNER
-------------------------------------------*/

#banner {
  background-attachment: fixed;
  width: 100%;
  min-height: 750px;  
  height: 100%;
}

#banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 750px;
}

#banner .container .banner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#banner .container .banner-container .taco-button { 
  background: no-repeat scroll 0 0 transparent;
  background-position: center left 18px;
  background-size: 130px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  transition: all 0.3s; 
}

#banner .container .taco-button:hover { 
  cursor: pointer;
  transform: rotate(-5deg) scale(1.1);
}

#banner-pattern {
  content: '';
  height: 14px;
  background-size: contain;
  background-position: top center;
  margin-top: -14px;
}

/* ------------------------------------------ 
 ABOUT SECTION
-------------------------------------------*/

#about { 
  min-height: 500px;
  height: 75%;
  background-position: center left, top right, top right, center center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 250px auto, 460px auto, 280px auto, 700px auto;
}

#about .container {
  display: flex;
  align-items: center;;
  height: 500px;
  padding: 0 200px;
}
#about .container p {
  color: #EB332C;
  font-family: Poppins;
  font-size: 18px;
  text-align: left;
}

#about .container .about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#about .container .about-container p {
  padding-top: 30px;
}

#about .container .about-container .taco-button {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
  background-position: center left 19px;
  background-size: 130px;
  border: none;
  color: #151253;
  cursor: pointer;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  transition: all 0.3s;
}

#about .container .about-container .taco-button:hover { 
  cursor: pointer;
  transform: rotate(7deg) scale(1.1);
}

#about .container .about-container .about-taco-button h7 {
  color: #151253;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  transform: translate(25%, 30%);
}


#about .container .about-container .hdstyle {
 text-align: left;
}


/* ------------------------------------------ 
 FEATURED SECTION
-------------------------------------------*/

 #featured {
  padding: 20px;
  background-color: #FFE8E0;
  position: relative;
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 200px auto, 200px auto;
}

#featured .featured-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  position: relative;

}

#featured .featured-container .grid-container {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

#featured .featured-container .grid-container .grid {
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

#featured .featured-image .fake-image {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

#featured .featured-container .grid-container .grid .chicken-taco,
#featured .featured-container .grid-container .grid .quesadilla {
  display: flex;
  flex-direction: row;
}


#featured .featured-container .grid-container .grid .chicken-taco .chicken-taco-desc {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 450px auto;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
} 

#featured .featured-container .grid-container .grid .quesadilla .quesadilla-desc {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 450px auto;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
} 

#featured .featured-container .grid .chicken-taco .chicken-taco-desc p, 
#featured .featured-container .grid .quesadilla .quesadilla-desc p {
  padding: 0px 40px;
}  

#featured .featured-container .grid-container .grid .chicken-taco-desc, .chicken-taco-img,
#featured .featured-container .grid-container .grid .quesadilla-desc, .quesadilla-img {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

#featured .featured-container .grid-container .grid .chicken-taco-desc .taco-button {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
  background-position: center left 19px;
  background-size: 130px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  transition: all 0.3s;
}

#featured .featured-container .grid-container .grid .chicken-taco-desc .taco-button:hover {
  cursor: pointer;
  transform: rotate(-5deg) scale(1.1);
}

#featured .featured-container .grid-container .grid .chicken-taco-img .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(248, 4, 9, 0.8);
}

#featured .featured-container .grid-container .grid .quesadilla-img .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(235, 172, 57, 0.8);
}

#featured .featured-container .grid-container .grid .chicken-taco-img .overlay p,
#featured .featured-container .grid-container .grid .quesadilla-img .overlay p {
  color: white;
  font-size: 20px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 25px;
}

#featured .featured-container .grid-container .grid .chicken-taco-img .overlay .fas {
  position: absolute;
  right: 30px;
  bottom: 15px;
  font-size: 30px;
  color: #ffffff;
  transition: all .3s .3s;
}

#featured .featured-container .grid-container .grid .chicken-taco-img:hover .overlay,
#featured .featured-container .grid-container .grid .quesadilla-img:hover .overlay {
  opacity: 1
}



/* ------------------------------------------ 
 RESERVATIONS SECTION
-------------------------------------------*/

#reservations { 
  background-size: cover;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#reservations .container  {
  align-items: center;
  height: 100%;
}

#reservations .container .reservations-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

#reservations .container .reservations-container h2 {
  font-family: Oswald;
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

#reservations .container .reservations-container p {
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  text-align: center;
  margin: 0px 200px;
  padding: 10px 0px;
}

#reservations .container .reservations-container .taco-button { 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
  background-position: center left 19px;
  background-size: 130px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
  height: 100px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  transition: all 0.3s;
}

#reservations .container .reservations-container .taco-button:hover { 
  cursor: pointer;
  transform: rotate(7deg) scale(1.1);
}


/* ------------------------------------------ 
 FOOTER SECTION
-------------------------------------------*/

#footer-pattern {
  content: '';
  height: 14px;
  background-size: contain;
  background-position: top center;
  margin-top: -14px;
}

#footer {
  background-color: #ECAC3B;
  position: relative;
  padding: 20px 0px;
}

#footer .container {
  width: 1960px;
  max-width: 100%;
}
#footer .container .row .contact a {
  color: #000000;
}

#footer .container .row .contact .phone {
  display: flex;
  flex-direction: row;
}

#footer .container .row .contact .mail {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#footer .container .row .mail, #footer .container .row .phone {
  padding-top: 10px;
}

/* Custom */

body:not(.home) #content-wrap .container {
  /* margin-top: 150px; */
}

#inner-banner {
  background-attachment: fixed;
  background: linear-gradient(#000000, transparent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 454px;
  height: 100%;
  display: flex;
  align-items: center;
}

#inner-banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#inner-banner .container h1 {
  color: #ffffff;
  text-shadow: 2px 2px 6px #000000;
  font-size: 60px;
  color: #ffffff;
}


/* Archives */
.archive #page-wrap #content-wrap .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.archive #page-wrap #content-wrap .container .product {
  flex-direction: column;
  text-align: center;
}

.archive #page-wrap #content-wrap .container .product h4 {
  font-size: 20px;
  color: #000000;
}

.archive #page-wrap #content-wrap .container .product .img-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

/* Reserve */
#reserve-container {
  margin: auto;
}

#reserve-container #date, 
#reserve-container #time {
  margin: 15px 0;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 2 0px;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.2s ease all;
}


/* Contact */
.contact {
  background-position: center left, top right, top right, center center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 250px auto, 460px auto, 280px auto, 700px auto;
}

.contact .post .row .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .post .row .contact-form form {
	background: white;
	border-radius: 10px;
  color: var(--charcoal-black);
	height: auto;
	margin: 10% auto 0 auto;
	width: 400px;
	overflow: hidden;
}

.contact .post .row .contact-form form h1 {
  margin-bottom: 40px;
}

.contact .post .row .contact-form form label {
	font-size: 14px;
	color: var(--charcoal-black);
	cursor: pointer;
}

.contact .post .row .contact-form form label,
.contact .post .row .contact-form form input,
.contact .post .row .contact-form form textarea {
	float: left;
	clear: both;
}

.contact .post .row .contact-form form input,
.contact .post .row .contact-form form textarea {
	margin: 15px 0;
	padding: 15px 10px;
	width: 100%;
	outline: none;
	border: 1px solid #bbb;
	border-radius:2 0px;
	display: inline-block;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition :0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.contact .post .row .contact-form form input:focus,
.contact .post .row .contact-form form textarea:focus {
	border-color: #151253;
}

.contact .post .row .contact-form form textarea {
  resize: vertical;
}

.contact .post .row .contact-form .taco-button {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
  background-position: center left 19px;
  background-size: 130px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  justify-content: center;;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  transition: all 0.3s;
}

.contact .post .row .contact-form .taco-button:hover {
  cursor: pointer;
  transform: rotate(-5deg) scale(1.1);
}

.contact .post .row .contact-info .map {
  margin: auto;
}